// MyTheme (heavily modified Navi)

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$headings-font-family: 'Sora', 'Roboto' !default;
$font-family-base: 'Sora', 'Roboto' !default;


$primary: #BA2D0B !default;
$secondary: #0B3142 !default;
$success: #5A9367 !default;
$info: #25BBA7 !default;
$warning: #FFBA08 !default;
$danger: #D42300 !default;
$dark: #030D11 !default;
$light: #ebf3f7 !default;
$white: #ffffff !default;
$link-hover-color: #f5532c !default;

$my-gray: #3b3b3b;
.text-my-gray {
  color: $my-gray !important;
}

$body-color: $dark !default;

// Navbar
$navbar-chulapa-bg-color: $secondary !default;
$navbar-chulapa-text-color: $white !default;	
$navbar-chulapa-hover-color: $primary !default;

// Footer
$footer-chulapa-text-color: $light !default;
$footer-chulapa-icon-color: $light !default;
$footer-chulapa-icon-hover-color: $primary !default;
$footer-chulapa-hover-color: $primary !default;

$thead-chulapa-bg-color: $secondary !default;

.card.bg-primary, .card.bg-secondary {
  color: $white;
}

// Keeps the text color in the navbar white when hovering
.navbar-chulapa-fab .nav-link:hover {
    color: $white !important;
}

// Background color of secondary buttons on hover and focus
.btn-secondary:hover{
	background-color: $primary !important;
}
.btn-secondary:focus{
	background-color: $primary !important;
    box-shadow: 0 0 0 2px $warning !important;
}

// Background color of info buttons on hover and focus
.btn-info:hover{
	background-color: $primary !important;
}
.btn-info:focus{
	background-color: $primary !important;
    box-shadow: 0 0 0 2px $warning !important;
}

// No border on buttons
.btn{
	border: none !important;
}

// Background color of buttons used in the portfolio cards
.btn-portfolio-link{
	background-color: $white !important;
	border: 2px solid $secondary !important;
	color: $secondary !important;
}
.btn-portfolio-link:hover{
	background-color: $white !important;
	border: 2px solid $primary !important;
	color: $primary !important;
}
.btn-portfolio-link:focus{
    box-shadow: 0 0 5px 3px $warning !important;
}

// Increase size on hover (zoom)
.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom-small {
  transition: transform .2s; /* Animation */
}
.zoom-small:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


// Homepage header
.home-header {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $secondary;
}

#header_title {
    color: $white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-size: 5em;
    z-index: 100;
}

.home-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}