// MyTheme (heavily modified Navi)

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$headings-font-family: 'Sora', 'Roboto' !default;
$font-family-base: 'Sora', 'Roboto' !default;


$primary: #BA2D0B !default;
$secondary: #0B3142 !default;
$success: #5A9367 !default;
$info: #25BBA7 !default;
$warning: #FFBA08 !default;
$danger: #D42300 !default;
$dark: #030D11 !default;
$light: #ebf3f7 !default;
$white: #ffffff !default;
$link-hover-color: #f5532c !default;

$my-gray: #3b3b3b;
.text-my-gray {
  color: $my-gray !important;
}

$body-color: $dark !default;

// Navbar
$navbar-chulapa-bg-color: $secondary !default;
$navbar-chulapa-text-color: $white !default;	
$navbar-chulapa-hover-color: $primary !default;

// Footer
$footer-chulapa-text-color: $light !default;
$footer-chulapa-icon-color: $light !default;
$footer-chulapa-icon-hover-color: $primary !default;
$footer-chulapa-hover-color: $primary !default;

$thead-chulapa-bg-color: $secondary !default;

.card.bg-primary, .card.bg-secondary {
  color: $white;
}

// Keeps the text color in the navbar white when hovering
.navbar-chulapa-fab .nav-link:hover {
    color: $white !important;
}

// Background color of secondary buttons on hover and focus
.btn-secondary:hover{
	background-color: $primary !important;
}
.btn-secondary:focus{
	background-color: $primary !important;
    box-shadow: 0 0 0 2px $warning !important;
}

// Background color of info buttons on hover and focus
.btn-info:hover{
	background-color: $primary !important;
}
.btn-info:focus{
	background-color: $primary !important;
    box-shadow: 0 0 0 2px $warning !important;
}

// No border on buttons
.btn{
	border: none !important;
}

// Background color of buttons used in the portfolio cards
.btn-portfolio-link{
	background-color: $white !important;
	border: 2px solid $secondary !important;
	color: $secondary !important;
}
.btn-portfolio-link:hover{
	background-color: $white !important;
	border: 2px solid $primary !important;
	color: $primary !important;
}
.btn-portfolio-link:focus{
    box-shadow: 0 0 5px 3px $warning !important;
}

// Increase size on hover (zoom)
.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.1);
}
.zoom-small {
  transition: transform .2s; /* Animation */
}
.zoom-small:hover {
  transform: scale(1.05);
}


// Homepage header
.home-header {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: $secondary;
}

#header_title {
    color: $white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    font-size: 5em;
    z-index: 100;
}

.home-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

// Homepage personal photos
.home-photo-display {
  transition: transform .2s; /* Animation */
}
.home-photo-display:hover {
  transform: scale(1.25);
}

//Homepage writings
#writingsVideo{
    border-radius: 7px;
    width: 75%;
}

//Homepage contact form
#fake-form{
    padding: 2em;
    padding-left: 5em;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}
@media (max-width: 767px) {
  #fake-form {
    width: 100%;
  }
}
#name-fake-form-group{
    grid-column: 1 / 2;
    grid-row: 1;
}
#email-fake-form-group{
    grid-column: 2 / 3;
    grid-row: 1;
}
#subject-fake-form-group{
    grid-column: 1 / 3;
    grid-row: 2;
}
#message-fake-form-group{
    grid-column: 1 / 3;
    grid-row: 3;
}
#button-fake-form-group{
    grid-column: 1 / 3;
    grid-row: 4;
    text-align: center;
}
.fake-form-group{
    padding-left: 5px;
    padding-right: 5px;
}
.fake-form-input{
    width: 100%;
}
.fake-form-textarea{
    width: 100%;
    resize: vertical;              /* allow vertical resize only */
    min-height: calc(1.2em * 5);  /* approximate height of 5 rows */
    line-height: 1.2em;            /* ensure line-height matches calculation */
}
.highlight {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: $primary;
  text-decoration-thickness: 2px;
}

//Home loading wheel
#loading-wheel{
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Perfect centering */
  z-index: 9999;                /* On top of everything */
  pointer-events: none;         /* Allow clicks through the image */
}